<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/articles.css">
</head>
<body>
    <section>
        <div class="heading">
            <h1>Articles</h1>
            <a href="/createArticle" class="newArticleBtn">New Article</a>
        </div>
        <section class="article-grid">
            <% locals.articles.map(article => { %>
                <div class="article-container">
                    <h1 class="title"><%= article.title %></h1>
                    <p class="timestamp"><%= article.dateFormat %></p>
                    <p class="description"><%= article.description %></p>
                    <div class="navigation">
                        <form action="/articles/<%= article.serializeTitle %>%20<%= article.id %>" method="get">
                            <button type="submit">Read More</button>
                        </form>
                        <form action="/articles/<%= article.serializeTitle %>%20<%= article.id %>/edit" method="get">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/articles/<%= article.serializeTitle %>%20<%= article.id %>/delete" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </section>
    </section>
</body>
</html>